html, body {
  height: 100%;
}

body {
  font-family: 'Merriweather', serif;
  display: flex;
  margin: auto;
  justify-content: center;
}

.container {
  margin: 100px 15px;
  max-width: 670px;

  @media screen and (min-width: 600px) {
    padding: 0 30px;
  }
}

p {
  font-size: 25px;
  line-height: 37px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;

  @media screen and (min-width: 600px){
    font-size: 35px;
    line-height: 52px;
  }
}
